{%  extends "templates/web.html" %}

{% block page_content %}
<div class="py-20 row">
    {% if image %}
        <div class="col-sm-2">
            <img src="{{ image }}" alt="{{ title }}">
        </div>
    {% endif %}
    <div class="col">
        <h1>{{ title }}</h1>
        <p>{{ description or "" }}</p>
    </div>
</div>
<a href="/items" role="button" class="btn btn-dark float-left">Back</a>
<button item-code={{ title }} class="btn btn-outline-dark float-right">Add To Cart</button>
{% endblock %}

{% block script %}
<script>
    {% include "accounting/accounting/doctype/item/portal_js/individual_item.js" %}
</script>
{% endblock %}
